<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="my.css" type="text/css" rel="stylesheet" />
    <style>
        .spacing {
        line-height: 1px;
        }
        button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: forestgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
        body {
        background-color:#DFE2EC;
        }
        </style>
</head>
<body>
   <div>
       <h2>
           Welcome to the cool Tea Bottle
       </h2>

          <p class = "spacing"> This is cool tea site, here you can FIND Tea you can BUY Tea! </p>
          <p class = "spacing">And this only beginning </p>
          <p class = "spacing"> If you want to buy Tea press on button below</p>
       <a href="/registerPage">
           <button type="button">BUY TEA RIGHT NOW!</button>
       </a>
       <a href="/registeredUsersList">
           <button type="button">Registered Users</button>
       </a>
   </div>
</body>
</html>