<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks Page</title>
    <style>
        button {
            padding: 10px 40px;
            font-size: 16px;
            background-color: forestgreen;
            color: white;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            margin-top: 10px;
        }
        body {
            background-color: #DFE2EC;
        }
    </style>
</head>
<body>
<h1>Thank you, for registering on the best site in the world</h1>
<h2> We received your email address, and we sent requisite for buying tea</h2>

<a href="/">
    <button>Go to Home Page</button>
</a>
</body>
</html>